<!-- ************************** -->
<!-- The content Heading -->
<!-- ************************** -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
<!-- ************************** -->
<!-- form of the application -->
<!-- ************************** -->

<form id="loginForm" action="/account/login" method="post">
    <fieldset>
        <legend>Log in</legend>
        <label for="account_email" class="top">Email*: <input type="email" id="accountEmail" name="account_email" required value="<%= locals.account_email %>"></label>
        <label for="account_password" class="top">Password*: <input type="password" id="accountPassword" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"></label>
        <p>The password should contain: <br>
            * 12 characters in length, minimum <br>
            * contain at least 1 capital letter <br>
            * contain at least 1 number <br>
            * contain at least 1 special character</p>
        <button>Login</button>
        <h2>No account? <a href="register">Sign-up</a></h2>
    </fieldset>
</form>