<div class="hero-msg">
  <h1>Welcome to CSE Motors!</h1>
  <div class="hero-logo">
    <picture>
      <img src="./images/vehicles/delorean.jpg" alt="Delorean Car" />
    </picture>
    <section class="banner">
      <h1>DMC Delorean</h1>
      <h3>3 cup holders<br />Superman Doors<br />Fuzzy Dice!</h3>
      <button>Own Today</button>
    </section>
  </div>
</div>

<div class="main-content">
  <article>
    <h1>DMC Delorean Reviews</h1>
    <ul>
      <li>"So fast it's almost like travelling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm deeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"80's livin and I love it!" (5/5)</li>
    </ul>
  </article>
  <div class="delorean-upgrades">
    <h3>Delorean Upgrades</h3>
    <div class="delorean-upgrades-cards">
      <section class="du-card">
        <picture>
          <img src="./images/upgrades/flux-cap.png" alt="flux capacitor" />
        </picture>
        <a href="">Flux Capacitor</a>
      </section>
      <section class="du-card">
        <picture>
          <img src="./images/upgrades/flame.jpg" alt="flame decals" />
        </picture>
        <a href="">Flame Decals</a>
      </section>
      <section class="du-card">
        <picture>
          <img
            src="./images/upgrades/bumper_sticker.jpg"
            alt="bumper sticker"
          />
        </picture>
        <a href="">Bumper Sticker</a>
      </section>
      <section class="du-card">
        <picture>
          <img src="./images/upgrades/hub-cap.jpg" alt="hub caps" />
        </picture>
        <a href="">Hub Caps</a>
      </section>
    </div>
  </div>
</div>
