<!-- ************************** -->
<!-- The content Heading -->
<!-- ************************** -->
<% if (title) { %>
    <h1>Vehicle <%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>

<!-- ************************** -->
<!-- The management view to be displayed-->
<!-- ************************** -->

<a class="manag-link" href="add_classification">Add New Classification</a>
<a class="manag-link" href="add_vehicle">Add New Vehicle</a>

<h2>Manage Inventory</h2>
<p>Please select the classification from the following list:</p>
<%- classificationList %>

<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>

